<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
</head>

<body>
    <% include partials/navbar.ejs %>
    <div class="jumbotron">
        <h3>Description: Basic NodeJS example project</h3>
    </div>
</body>

</html>

