<!DOCTYPE html>
<html>

<head>
    <% include partials/head.ejs %>
</head>

<body>
    <% include partials/navbar.ejs %>
    <div class="container">
        <h3>Index Page</h3>


        <table class="table">
            <thead>
                <tr>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                <% log.forEach(function(item){ %>
                    <tr>
                        <td>
                            <%= item %>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
        <form method="post" action="/">
            <input type="text" name="message">
            <input type="submit" value="Submit">
        </form>
    </div>
</body>

</html>